@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(189, 189, 189);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  font-family: "Inconsolata";
}

.heading {
  color: aqua;
  text-shadow: 2px 2px 20px aqua;
  letter-spacing: 3px;
}

.container {
  background-color: white;
  height: 80vh;
  width: 60vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 20px;
}

.greet {
  align-self: flex-start;
  font-size: 23px;
  display: flex;
  align-items: center;
}

.greet input {
  border: none;
  outline: none;
  font-size: 21px;
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: "Montserrat";
}
.double {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
}

.form-spend,
.form-price {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 30px;
}

.form-stats {
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px 20px;
}

.add-btn {
  background-color: red;
  padding: 10px 40px;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
}

.total {
  background-color: rgb(0, 35, 35);
  color: white;
  padding: 10px 40px;
  border-radius: 10px;
  font-size: 21px;
}

.total span {
  color: aqua;
}

/* list */

.list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding: 40px;
  overflow: auto;
}

.expense {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 5px 10px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.fall {
  transform: translateY(100px) rotateZ(20deg);
  opacity: 0;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.expense h2:nth-child(1),
.expense h2:nth-child(2) {
  color: red;
}

.payed {
  opacity: 0.7;
}

.payed h2:nth-child(1),
.payed h2:nth-child(2) {
  text-decoration: line-through;
  color: green;
}

select {
  display: block;
  width: 100%;
  padding: 0.5rem 3rem;
  border-radius: 10px;
  font-size: 14px;
  border: 1px solid #333;
  text-align: right;
  font-family: "Montserrat";
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: left 1rem center;
  background-size: 1.2em;
  /* select reset */
  outline: none;
  appearance: none;
  box-shadow: none;
}
